html{
    background-color: rgb(51, 41, 41);
    color: white;
}
.app{
    width: fit-content;
    margin: auto;
    margin-top: 30vh;
    padding-top: 15vh;
}
.navbtns{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.timerButton{
    margin-left: 10px;
}
.navbtn{
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, rgb(35, 35, 161),rgb(51, 51, 228) );
    color: white;
    outline: none;
}
.navbtn:hover{
    background: white;
    color: rgb(35, 35, 161);
    cursor: pointer;
    transition: 0.5s;
}
.counter{
    text-align: center;
    margin-bottom: 40px;
}
.counter h1{
    font-size: 80px;
}
.counterControl{
    height: 30px;
    width: 60px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, rgb(35, 35, 161),rgb(51, 51, 228) );
    color: white;
    outline: none;
}
.counterControl:hover{
    background: white;
    color: rgb(35, 35, 161);
    cursor: pointer;
    transition: 0.5s;
}
.timer{
    text-align: center;
    margin-bottom: 40px;
}
input{
    width: 40px;
    margin-left: 10px;
    height: 30px;
    border-radius: 5px;
    border: none;
    text-align: center;
}
.inputs button{
    height: 32px;
    width: 50px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, rgb(35, 35, 161),rgb(51, 51, 228) );
    color: white;
    outline: none;
}
.inputs button:hover{
    background: white;
    color: rgb(35, 35, 161);
    cursor: pointer;
    transition: 0.5s;
}
.timerClock h1{
    font-size: 80px;
}
.timerClock button{
    height: 32px;
    width: 50px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, rgb(35, 35, 161),rgb(51, 51, 228) );
    color: white;
    outline: none;
}
.timerClock button:hover{
    background: white;
    color: rgb(35, 35, 161);
    cursor: pointer;
    transition: 0.5s;
}
.roundBorder{
    border: 2px solid white;
    border-radius: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    border-left-color: blue;
    border-right-color: blue;
}